{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pastor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pastor.id }}</td>
            </tr>
            <tr>
                <th>Es_tesorero_nacional</th>
                <td>{% if pastor.estesoreronacional %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pastor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pastor_edit', { 'id': pastor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
