{% extends 'base.html.twig' %}

{% block body %}
    <h1>Iglesia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for iglesium in iglesias %}
            <tr>
                <td><a href="{{ path('iglesia_show', { 'id': iglesium.id }) }}">{{ iglesium.id }}</a></td>
                <td>{{ iglesium.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('iglesia_show', { 'id': iglesium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('iglesia_edit', { 'id': iglesium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('iglesia_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
